{% extends 'base.html' %}

{% block content %}
<div class="">
    <h1>Контакти розробника</h1>
    <div class="">
        <div class="">
            <div class="">
                <img src="/static/images/developer_photo.jpg" class="img-article-left" alt="Фото розробника">
            </div>
            <div class="">
                <div class="">
                    <h2 class="">Андрій Поярков</h2>
                    <h3 class="">Студент  ФУАІД</h3>
                    <p class="">Я є студентом, який займається розробкою веб-сайтів. Ось мій резюме:</p>
                    <ul>
                        <li>Освіта: Неповна вища</li>
                        <li>Навички: Python, Django, HTML, CSS, JavaScript</li>
                        <li>Проекти: Розробка веб-енциклопедії мов програмування
                        </li>
                    </ul>
                    <br><br><br>
                    <ul> Ви можете зв'язатися зі мною за наступними контактами:
                        <li>Email: Bazakalka50@gmail.com</li>
                        <li>Телефон: +380975229232</li>
                        <li>GitHub: Poykaa13</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}