{% extends 'base.html' %}

{% block content %}
<div class="">
    <h1>Контакти розробника</h1>
    <div class="">
        <div class="">
            <div class="">
                <img src="/static/img/developer_photo.jpg" class="card-img" alt="Фото розробника">
            </div>
            <div class="">
                <div class="">
                    <h5 class="">Андрій Поярков</h5>
                    <h6 class="">Студент  ФУАІД</h6>
                    <p class="">Я є студентом, який займається розробкою веб-сайтів. Ось мій резюме:</p>
                    <ul>
                        <li>Освіта: Неповна вища</li>
                        <li>Навички: Python, Django, HTML, CSS, JavaScript</li>
                        <li>Проекти: Розробка веб-енциклопедії мов програмування
                        </li>
                    </ul>
                    <p class="">Ви можете зв'язатися зі мною за наступними контактами:</p>
                    <ul>
                        <li>Email: ...</li>
                        <li>Телефон: ...</li>
                        <li>LinkedIn: ...</li>
                        <li>GitHub: ...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}