{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Корисні посилання</h1>
    <ul class="list-articles">
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://mon.gov.ua/" target="_blank">Міністерство освіти і науки України</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://olimpiady.org.ua/" target="_blank">Сайт з олімпіадними завданнями</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://man.gov.ua/" target="_blank">Мала академія наук України (МАН)</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.microsoft.com/en-us/research/" target="_blank">Microsoft Research</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.ibm.com/research" target="_blank">IBM Research</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.nvidia.com/en-us/research/" target="_blank">NVIDIA Research</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://research.google/" target="_blank">Google Research</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.intel.com/content/www/us/en/research/overview.html" target="_blank">Intel
            Research</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.computer.org/publications/tech-news" target="_blank">IEEE Computer Society -
            Tech News</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://arxiv.org/" target="_blank">arXiv.org</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://blogs.nvidia.com/" target="_blank">NVIDIA Blog</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.research.ibm.com/blog" target="_blank">IBM Research Blog</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://cloud.google.com/blog/products/ai-machine-learning" target="_blank">Google AI
            Blog</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.microsoft.com/en-us/research/blog/" target="_blank">Microsoft Research Blog</a>
        </p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://techcrunch.com/" target="_blank">TechCrunch</a></p></li></div>
    </ul>
</div>
{% endblock content %}