{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Корисні посилання</h1>
    <ul class="list-articles">
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.codecademy.com" target="_blank">Сайт для вивчення програмування Codecademy</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.freecodecamp.org" target="_blank">Сайт для вивчення програмування freeCodeCamp</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.coursera.org" target="_blank">Сайти із курсами Coursera</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.edx.org/" target="_blank">Курси від відомих університетів edX</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.khanacademy.org/" target="_blank">Освітній ресурс для студентів та школярів Khan Academy</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.udemy.com/" target="_blank">Велика колекція курсів Udemy</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://research.google/" target="_blank">Матеріали з курсів Массачусетського технологічного інституту MIT OpenCourseWare</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://online-learning.harvard.edu/" target="_blank">Курси від Гарвардського університету Harvard Online Learning
            Research</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://code.org/" target="_blank">Курси з основ програмування для дітей Code.org</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.theodinproject.com/" target="_blank">Безкоштовна онлайн-програма з веб-розробки The Odin Project</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.w3schools.com/" target="_blank">Посібники та приклади для вивчення веб-технологій W3Schools</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://leetcode.com/" target="_blank">Платформа для практики вирішення алгоритмічних задач LeetCode</a></p></li></div>
        <div class="article-panel"><li class=""><p class="list-group-item"><a href="https://www.hackerrank.com/" target="_blank">Онлайн-змагання та вправи з алгоритмічного програмування HackerRank</a></p></li></div>

    </ul>
</div>
{% endblock content %}