{% extends 'base.html' %}

{% block content %}
<main>
        <section class="hero">
            <div class="container">
                <h2>Широ вітаємо на ProLango!</h2>
                <p>Все необхідне про мови програмування тут!</p>
                <a href="#" class="btn">Почати вивчати</a>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <h2>О нас</h2>
                <p>На нашому сайті ви з легкость зможете дізнатись про будь-яку мову програмування, а також ствроити свою статтю на тему.</p>
            </div>

            <img src="/static/images/bJk.gif" width=480 height=269.760 frameBorder="0" alt="Гіф">
        </section>


    <div id="weather-widget">
        <h2>Погода</h2>
        <p id="location"></p>
        <p id="temperature"></p>
        <p id="description"></p>
    </div>
    <div id="ide836aeb8bf499" a='{"t":"v","v":"1.2","lang":"uk","locs":[1549],"ssot":"c","sics":"ms","cbkg":"#4CAF50","cfnt":"#FFFFFF","cprb":"#388E3C","cprf":"#FFFFFF"}'>Джерело погодних даних: <a href="https://meteolabs.com.ua/укр/погода_ізмаїл/місяць/">прогноз погоди Ізмаїл місяць</a></div><script async src="https://static1.meteolabs.com.ua/widgetjs/?id=ide836aeb8bf499"></script>
    </main>
{% endblock content %}