{% extends 'base.html' %}

{% block content %}
<main>
        <section class="hero">
            <div class="container">
                <h2>Широ вітаємо на ProLango!</h2>
                <p>Все необхідне про мови програмування тут!</p>
                <a href="#" class="btn">Почати вивчати</a>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <h2>О нас</h2>
                <p>Краткое описание компании или сайта.</p>
            </div>
        </section>

        <section class="services">
            <div class="container">
                <h2>Наши услуги</h2>
                <div class="service">
                    <h3>Услуга 1</h3>
                    <p>Описание услуги 1.</p>
                </div>
                <div class="service">
                    <h3>Услуга 2</h3>
                    <p>Описание услуги 2.</p>
                </div>
                <div class="service">
                    <h3>Услуга 3</h3>
                    <p>Описание услуги 3.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}